@font-face {
    -fx-font-family: "Lalezar";
    src: url("../font/Lalezar-Regular.ttf");
}

.root {
    -fx-font-size: 20pt;
    -fx-font-family: "Lalezar";
}

.login-view {
    -fx-background-image: url("../images/LoginBackground.png");
}

.label {
    -fx-text-fill: Black;
    -fx-opacity: 100%;
    -fx-font-family: "Lalezar";
    -fx-font-size: 20pt;
}

.label-warning {
    -fx-text-fill: RED;
}

.label-and-button-for-deck {
    -fx-background-color: #666565;
    -fx-opacity: 80%;
    -fx-background-radius: 5px;
    -fx-text-fill: White;
    -fx-padding: 0 10 0 10;
}

.button {
    -fx-background-radius: 15px;
    -fx-font-family: "Lalezar";
    -fx-font-size: 20pt;
}

.login-buttons {
    -fx-background-color: #00f1f2;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-opacity: 1;
}

.battle-tab-of-main-menu {
    -fx-background-image: url("../images/BattleBackground.jpg");
}

.deck-tab-of-main-menu {
    -fx-background-image: url("../images/DeckBackground.jpg");
}

#deck-card-image:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}