@font-face {
    -fx-font-family: "Lalezar";
    src: url("../Font/Lalezar-Regular.ttf");
}

.login-view {
    -fx-background-image: url("../Images/LoginBackground.png");
}

.label {
    -fx-text-fill: Black;
    -fx-opacity: 100%;
    -fx-font-family: "Lalezar";
}

.button {
    -fx-background-radius: 15px;
    -fx-font-family: "Lalezar";
}

.tab-label {
    -fx-font-family: "Lalezar";
}

.battle-tab-of-main-menu {
    -fx-background-image: url("../Images/BattleBackground.jpg");
}

.deck-tab-of-main-menu {
    -fx-background-image: url("../Images/DeckBackground.jpg");
}