@font-face {
    -fx-font-family: "Lalezar";
    src: url("../Font/Lalezar-Regular.ttf");
}

.login-view {
    -fx-background-image: url("../Images/Background.png");
}

.label {
    -fx-text-fill: Black;
    -fx-opacity: 100%;
    -fx-font-family: "Lalezar";
}

.login-view .button {
    -fx-background-radius: 15px;
}